<div class="col-12 col-lg-9 order-1 order-lg-2">
    <section id="main-slider" class="carousel slide carousel-fade card" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
            <li data-target="#main-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="d-block" href="#" />
                <img src="~/images/slider/1.jpg"
                     class="d-block w-100" alt="">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block" href="#" />
                <img src="~/images/slider/2.jpg"
                     class="d-block w-100" alt="">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block" href="#" />
                <img src="~/images/slider/3.jpg"
                     class="d-block w-100" alt="">
                </a>
            </div>
            <div class="carousel-item">
                <a class="d-block" href="#" />
                <img src="~/images/slider/4.jpg"
                     class="d-block w-100" alt="">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
        </a>
        <a class="carousel-control-next" href="#main-slider" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
        </a>
    </section>
</div>