<footer class="main-footer default">
    <div class="back-to-top">
        <a href="#">
            <span class="icon"><i class="now-ui-icons arrows-1_minimal-up"></i></span>
            <span>بازگشت به بالا</span>
        </a>
    </div>
    <div class="container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/images/svg/delivery.svg">
                    </a>
                    <p>تحویل اکسپرس</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/images/svg/contact-us.svg">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/images/svg/payment-terms.svg">
                    </a>
                    <p>پرداخت درمحل</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/images/svg/return-policy.svg">
                    </a>
                    <p>۷ روز ضمانت بازگشت</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="~/images/svg/origin-guarantee.svg">
                    </a>
                    <p>ضمانت اصل بودن کالا</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="service-item col">
                    <div class="socials">
                        <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i>اینستاگرام</a>
                        </div>
                    </div>
                </div>
                <div class="service-item col">
                    <div class="newsletter">
                        <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                        <form action="">
                            <input type="email" class="form-control"
                                   placeholder="آدرس ایمیل خود را وارد کنید...">
                            <input type="submit" class="btn btn-primary" value="ارسال">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>
                کلیه حقوق این سایت متعلق به شرکت تکنوجام می باشد.
            </p>
        </div>
    </div>
</footer>