<div class="user-login dropdown">
    <a href="#" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown"
       id="navbarDropdownMenuLink1">
        ورود / ثبت نام
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
        <div class="dropdown-item">
            <a class="btn btn-info">ورود به سایت</a>
        </div>
        <div class="dropdown-item font-weight-bold">
            <span>کاربر جدید هستید؟</span> <a class="register" href="#">ثبت ‌نام</a>
        </div>
    </ul>
</div>